.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.searchBarInput {
    background-color: antiquewhite;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 240px;
    padding: 10px 20px;
}

.searchBarInput::placeholder {
    text-align: center;
}

.searchBarBtn {
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 216, 164);
    cursor: pointer;
    transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.searchBarBtn:hover,
.searchBarBtn:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(253, 207, 147);
}